@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap");

*,
*::-webkit-scrollbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  background-color: #fffafa;
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.dark {
  background-color: black;
  color: white;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #fffafa;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.app-header .logo {
  width: 120px;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.sidebarandpagecontent {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.app-sidebar .sidebar-menu-link {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.app-sidebar {
  height: 100vh;
}

.page-content {
  padding-left: 12px;
  margin: 1em;
  /* position: fixed;
  overflow: scroll;
  height: 100vh;
  z-index: 0; */
}

.order-list-container {
  width: 1000px; /* Adjust the width as per your requirements */
  overflow-x: auto;
  white-space: nowrap;
}

.order-list-card {
  display: inline-block; /* Ensure the cards appear in a row */
  width: 300px; /* Adjust the width of each card as per your requirements */
  /* Additional styling for the cards */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.graph-container {
  margin-left: 5em;
}

.dashboard-graph-card-bar {
  width: 700px;
  border: 1px solid gray;
}

.dashboard-graph-card-pie {
  width: 500px;
  border: 1px solid gray;
}

.dashboard-icon {
  font-size: 22px;
}

.product-list-container {
  display: flex;
  padding: 1em;
  flex-wrap: wrap;
  align-items: basleine;
  justify-content: space-between;
  width: 90%;
  height: 500px;
  overflow: auto;
}

.product-list-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 270px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 1em;
  border-radius: 12px;
}

.product-list-card-container .left {
  width: 32%;
}

.product-list-card-container .right {
  width: 62%;
}

.product-list-card-container .right .info-container {
  max-width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  color: rgb(75 85 99);
}

.product-list-card-container .left .product-price {
  color: rgb(41 37 36);
  font-weight: bold;
  margin: 1em;
}

.product-list-card-container .right .product-description {
  max-width: 400px;
  letter-spacing: 1.2px;
  color: rgb(75 85 99);
}

.product-list-card-container .right .product-availabe,
.product-list-card-container .right .product-sold,
.product-list-card-container .left .product-price .sup {
  color: rgb(75 85 99);
  font-weight: 400;
}

.product-list-card-container .right .actions-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.app-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  padding: 4px 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgb(27, 26, 26);
}
